<ul>
    <li class="block">
        <input type="radio" name="Taille" value="XS"> XS<BR>
        <input type="radio" name="Taille" value="S"> S<BR>
        <input type="radio" name="Taille" value="M" checked> M<BR>
        <input type="radio" name="Taille" value="L"> L<BR>
        <input type="radio" name="Taille" value="XL"> XL<BR>
    </li>
  </ul>