<label for="SortBy" class="label--hidden">{{ 'collections.sorting.title' | t }}</label>
<select name="sort_by" id="SortBy" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-value="{{ collection.sort_by | default: collection.default_sort_by | escape }}">
    <option disabled>Options de trie</option>
    {%- for option in collection.sort_options -%}
        <option value="{{ option.value }}"{% if sort_by == option.value %} selected="selected"{% endif %}>{{ option.name }}</option>
    {%- endfor -%}
</select>