<label for="types_select" style="margin:auto;">Types :</label>
<select onchange="select_change();" id="select_item" name="types_select" class="types_select">
    <option value="disabled" disabled> Types de produits </option>
    <option value="Tous">Tous</option>
    {% for product in my_products %}
        {% if my_types %}
            {% assign my_types = my_types | append: ', ' | append: product.type %}
        {% else %}
            {% assign my_types = my_types | append: product.type %}
        {% endif %}
    {% endfor %}
    {% assign all_types = my_types | split: ', ' | uniq %}
    {% for type in all_types %}
        {%if product_type != '' %}
            <option value="{{ type }}">{{ type }}</option>
        {% endif %}
    {% endfor %}
</select>