
<script>
    function show_Password(id_Button, id_Input){
      var input_Password = document.getElementById(id_Input);
      var button = document.getElementById(id_Button);
      console.log('id_Input' + id_Input);
      console.log('id_But' + id_Button);
      console.log('idInput_P' + input_Password);
      console.log('idButton' + button);
      if(input_Password.type == 'password')
      {
        input_Password.type = 'text';
        button.innerHtml = '<i class="fas fa-eye-slash"></i>';
      }
      else
      {
        input_Password.type = 'password';
        button.innerHtml = '<i class="fas fa-eye"></i>';
      }
    }
  </script>

<button class="unmask" ><i class="fas fa-eye"></i></button>