<h1 style="visibility : hidden;">{{ page.title }}</h1>
<div>{{ page.content }}</div>

{% section 'imageFondTitreTexte' %}

{% section 'imageTexte-1' %}

{% section 'imageTexte-2' %}

{% section 'locations' %}

{% section 'iconsList' %}