<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div>

{% section 'imageFondTitreTexte' | append: "0"  %}

{% section 'imageTexte' | append: "1" %}

{% section 'imageTexte' | append: "2" %}

{% section 'toutTypeTexte' | append: "3" %}

{% section 'iconsList' | append: "4" %}