<h1>{{ page.title }}</h1>
<div>{{ page.content }}</div>

{% increment id %}

{% assign id = id | downcase %}
{% section 'imageFondTitreTexte' | append: id  %}

{% increment id %}
{% assign id = id | downcase %}
{% section 'imageTexte' | append: id %}

{% increment id %}
{% assign id = id | downcase %}
{% section 'imageTexte' | append: id %}

{% increment id %}
{% assign id = id | downcase %}
{% section 'toutTypeTexte' | append: id %}

{% increment id %}
{% assign id = id | downcase %}
{% section 'iconsList' | append: id %}