<ul>
    <li class="block">
      <label for="filename">Saisons</label>
      <input type="file" id="filename" name="properties[Image]" accept="image/png, image/jpeg" required="required">
    </li>
  </ul>