<h1 class="visually-hidden">{{ page.title }}</h1>
<div>{{ page.content }}</div>

{% section 'slideshow-2' %}

{% section 'imageTexte-1' %}

{% section 'imageTexte-2' %}

{% section 'showLocations' %}

{% section 'iconsList' %}