<!-- /templates/page.blog.liquid -->
{% comment %} voir blog-template {% endcomment %}
<div class="page-width page-container">
    <header>
      <h1 class="h1Titre">{{ page.title }}</h1>
    </header>
    <div class="rte rte--indented-images">
      {{ page.content }}
    </div>
  </div>
  
  {% section 'blog-template' %}