<!-- /templates/customers/login.liquid -->
{% comment %} Ici le de la page de connexion, elle comprend le html du mot de passe oublié {% endcomment %}
<div class="connexion">
  <h1>Connexion</h1>
  <div class="identification">
    <h2>S'identifier</h2>
    {% form 'customer_login' %}
      {{ form.errors | default_errors }}
      
      <div class="identification-id">
        <label for="customer_email">Nom d’utilisateur ou adresse e-mail *</label>
        <input type="email" name="customer[email]" />
      </div>
      
      <div class="identification-password">
        <label for="customer_password">Mot de passe*</label>
        <input type="password" name="customer[password]" />
      </div>
      
      <div class="identification-submit">
        <input id="identification-checkbox" type="checkbox"/>
        <label for="customer_checkbox">Se souvenir de moi</label>
        <input type="submit" value="Connexion"/>
      </div>

    {% endform %}
  </div>

  <div class="forgotPassword"> 
    <h2>Mot de passe perdu ?</h2>
    {% form 'recover_customer_password' %}
    
    {{ form.errors | default_errors }}
    
    <label for="customer_email">Email Address</label>
    <input type="email" name="email" />
    
    <input type="submit" value="Submit" />
    
    {% endform %}
  </div>
</div>