<!-- /templates/customers/login.liquid -->
{% comment %} Ici le de la page de connexion, elle comprend le html du mot de passe oublié {% endcomment %}
<div class="connexion">
  <h1 class="Bigtitle">Connexion</h1><br><br>
  <div class="identification">
    <h2>S'identifier</h2><br><br>
    {% form 'customer_login' %}
      {{ form.errors | default_errors }}
      
      <div class="identification-id">
        <label for="customer_email">Nom d’utilisateur ou adresse e-mail *</label><br>
        <input class="textInput" type="email" name="customer[email]" /><br>
      </div>
      
      <div class="identification-password">
        <label for="customer_password">Mot de passe*</label><br>
        <input type="password" name="customer[password]" /><br>
      </div>
      
      <div class="identification-submit">
        <input id="identification-checkbox" type="checkbox"/>
        <label for="customer_checkbox">Se souvenir de moi</label><br><br>
        <input type="submit" value="Connexion"/>
      </div>

    {% endform %}
  </div>

  <div class="forgotPassword"> 
    <h2>Mot de passe perdu ?</h2><br>
    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}
      <label for="customer_email">Adresse e-mail</label><br>
      <input type="email" name="email" /><br><br>
      <input type="submit" value="Envoyer" />
    {% endform %}
  </div>
</div>