<!-- /templates/customers/register.liquid -->
{%comment%} Ici la description html de lapage d'inscription {%endcomment%}
<div class="inscription">
  <h1 class="h1Title">Inscription</h1><br><br>
  {% form 'create_customer' %}
  {{ form.errors | default_errors }}
  <div class="inscription-Prenom">
    <label for="first_name">Prénom*</label><br>
    <input class="textInput" type="text" value="" name="customer[first_name]" size="30" />
  </div>
  <br>
  <div class="inscription-Nom">
    <label for="last_name">Nom*</label><br>
    <input class="textInput" type="text" value="" name="customer[last_name]" size="30" />
  </div>
  <br>
  <div class="inscription-Email">
    <label for="email">Adresse e-mail*</label><br>
    <input class="textInput" type="email" value="" name="customer[email]" size="30" />
  </div>
  <br>
  <div class="inscription-MotdePasse">
    <label for="password">Mot de passe*</label><br>
    <input class="textInput" type="password" value="" name="customer[password]" size="30" />
  </div>
  <br>
  <div class="inscription-submitButton"><br>
    <br><input class="submitButtonRef" type="submit" value="Crée un compte" /><br>
  </div>
  {% endform %}
</div>