{%comment%} Ici le html d'affichage {%endcomment%}
<div class="allKindOfText">

</div>


{%comment%} Ici le schema
{% schema %}

{% endschema %}{%endcomment%}

{%comment%} Ici le style {%endcomment%}
{% style %}

{% endstyle %}