{%comment%} Ici le html d'affichage {%endcomment%}
<div class="allKindOfText">
  
</div>


{%comment%} Ici le schema {%endcomment%}
{% schema %}

{% endschema %}

{%comment%} Ici le style {%endcomment%}
{% style %}

{% endstyle %}