{%comment%} Ici le html d'affichage d'une collection {%endcomment%}
<div class="collectionVedette">
    <div class="collectionVedette-contenu">
        <h2 class="collectionVedette-h2">COLLECTION</h2>
        <h1 class="collectionVedette-h1">{{ section.settings.collectionTitle }}</h1>
        <a class="collectionVedette-a" href="{{ section.settings.collectionUrl }}">Decouvrir</a>
    </div>
</div>


{%comment%} Ici le schema d'une collection 
Elle a un nom, une image et un url {%endcomment%}
{% schema %}
    {
        "name":"Collection en Vedette",
        "settings": [
            {
                "id":"collectionTitle",
                "type":"text",
                "label":"Nom de la Collection",
                "default":"Nom de ma collection"
            },
            {
                "id":"collectionImg",
                "type":"image_picker",
                "label":"Image de la collection"
            },
            {
                "id":"collectionUrl",
                "type":"url",
                "label":"Url de la Collection"
            }
        ],
        "presets":[
            {
                "name":"Collection en Vedette",
                "category":"Collection"
            }
        ]
    }
{% endschema %}


{%comment%} Ici le style css de colelctionShow {%endcomment%}
{% style %}
    .collectionVedette{
        width:100%;
        height:auto;
        background-image:url("{{ section.settings.collectionImg | img_url }}");
        background-repeat:no-repeat;
        background-attachment: scroll, local;
    }
    .collectionVedette-contenu{
        display:grid;
        position:absolute;
        justify-content:start;
    }
    .collectionVedette-contenu-h1{
        font-size:large;
    }
    .collectionVedette-contenu-h2{
        font-size:x-large;
    }
    .collectionVedette-a{
        background:none;
        text-decoration:none;
        color:white;
        border: 2px solid white;
    }
{% endstyle %}