{%comment%} Ici le html d'affichage d'une collection {%endcomment%}
<div class="collectionShow">
    
</div>


{%comment%} Ici le schema d'une collection {%endcomment%}
{% schema %}

{% endschema %}


{%comment%} Ici le style css de colelctionShow {%endcomment%}
{% stylesheet %}

{% endstylesheet %}