{%comment%} Ici le html d'affichage d'une collection {%endcomment%}
<div class="collectionSpeciale">
    <img class="collectionSpecialeImg" src="{{ section.settings.collectionImg | img_url: "300x300"}}">
    <button class="collectionSpecialeButton"><a href="{{ section.settings.collectionUrl }}">{{ section.settings.collectionTitle }}</a></button>
</div>


{%comment%} Ici le schema d'une collection 
Elle a un nom, une image et un url {%endcomment%}
{% schema %}
    {
        "name":"Collection Speciale",
        "settings": [
            {
                "id":"collectionTitle",
                "type":"text",
                "label":"Nom de la Collection",
                "default":"Nom de ma collection"
            },
            {
                "id":"collectionImg",
                "type":"image_picker",
                "label":"Image de la collection"
            },
            {
                "id":"collectionUrl",
                "type":"url",
                "label":"Url de la Collection"
            },
            {
                "id":"collectionDesc",
                "type":"text",
                "label":"Description de la Collection",
                "default":"Description de ma collection"
            }
        ],
        "presets":[
            {
                "name":"Collection Speciale",
                "category":"Collection"
            }
        ]
    }
{% endschema %}


{%comment%} Ici le style css de colelctionShow {%endcomment%}
{% style %}
    .collectionSpeciale{
        
    }
    .collectionSpecialeImg{
        background-repeat:no-repeat;
        position: relative;
        z-index:1;
    }
    .collectionSpecialeButton{
        position: relative;
        z-index:2;
    }
{% endstyle %}