{%comment%} Ici le html d'affichage d'une collection {%endcomment%}
<div class="collectionSpeciale">
    <div class="collectionSpeciale-img">
        <img src="{{ section.settings.collectionImg | img_url: "300x300"}}">
    </div>
    <div class="collectionSpeciale-contenu">
        <h2 class="collectionSpeciale-contenu-h2">{{ section.settings.collectionTitle }}</h2>
        <p class="collectionSpeciale-contenu-p">{{ section.settings.collectionDesc }}</p>
        <div onmouseenter="" class="collectionSpeciale-a"><a class="aRef" href="{{ section.settings.collectionUrl }}">En savoir plus</a></div>
    </div>
</div>


{%comment%} Ici le schema d'une collection 
Elle a un nom, une image et un url {%endcomment%}
{% schema %}
    {
        "name":"Collection Speciale",
        "settings": [
            {
                "id":"collectionTitle",
                "type":"text",
                "label":"Nom de la Collection",
                "default":"Nom de ma collection"
            },
            {
                "id":"collectionImg",
                "type":"image_picker",
                "label":"Image de la collection"
            },
            {
                "id":"collectionUrl",
                "type":"url",
                "label":"Url de la Collection"
            },
            {
                "id":"collectionDesc",
                "type":"text",
                "label":"Description de la Collection",
                "default":"Description de ma collection"
            }
        ],
        "presets":[
            {
                "name":"Collection Speciale",
                "category":"Collection"
            }
        ]
    }
{% endschema %}


{%comment%} Ici le style css de colelctionShow {%endcomment%}
{% style %}
    .collectionSpeciale{
        display:grid;
        grid-gap:10px;
        grid-template-columns:repeat(4,1fr);
    }
    .collectionSpeciale-img{
        grid-column:2;
        text-align:end;
    }
    .collectionSpeciale-contenu{
        display:grid;
        grid-column:3;
        grid-gap:10px;
        text-align:start;
    }
    .collectionSpeciale-contenu-h2{
        grid-row:1;
        text-align:center;
    }
    .collectionSpeciale-contenu-p{
        grid-row:2;
    }
    .collectionSpeciale-a{
        grid-row:3;
        border:solid;
        color:black;
        background-color=white;
        grid-template-columns:repeat(4,1fr);
    }
     .collectionSpeciale-a.a{
         grid-column:4;
     }
    .collectionSpeciale-a:hover{
        background-color:black;
        border:none;
    }
    .collectionSpeciale-a:hover.a{
        color:white;
    }
{% endstyle %}