<footer class="footer">
    <div class="topFooter"> 
        <div class="topFooter-contact">
            <button class="header-icons-search">
			    <i class="fab fa-facebook"></i>
		    </button>

            <button class="header-icons-search">
			    <i class="fas fa-instagram"></i>
            </button>
            </br></br></br>
            <p>CONTACT</p> </br>
            <p>contact@sylvie-strohl.com</p>
        </div>
        <div class="topFooter-Newsletter">
            <p>Inscrivez-vous à notre newsletter pour suivre nos actualités.</p><br>
            <form></form>
        </div>
        <div class="topFooter-Paiement">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-paypal"></i>
        </div>
    </div>
    
    <div class="botFooter"> 
        <ul class="">
            <li><a href="https://gracietboutiquetpe.myshopify.com/pages/Entretien">Entretien</a></li>
            <li><a href="https://gracietboutiquetpe.myshopify.com/pages/Mentions-Légales">Mentions Légales</a></li>
            <li><a href="https://gracietboutiquetpe.myshopify.com/pages/Conditions-Générales-De-Vente">Conditions Générales De Vente</a></li>
            <li><a href="https://gracietboutiquetpe.myshopify.com/pages/Livraisons-et-retours">Livraisons et retours</a></li>
            <li><p>©2021 SYLVIE STROHL – </p> Something</li>
        </ul>
    </div>
</footer>