{% comment %}L'ensemble du code du HEADER {% endcomment %}
<header class="header">
	{% comment %}Le logo du site qui redirige vers l'accueil{% endcomment %}
	<div class="header-logo">
		<a href="https://gracietboutiquetpe.myshopify.com/"> Sylvie Strohl INTEMPORELE </a>
	</div>

	{% comment %} Ici la barre de navigation qui affichera les bouttons vers les autres pages {% endcomment %}
	<nav class="header-navbar">
		<button class="navbar-toggler" onclick=openMenuNav();><i class="fas fa-bars"></i></button>
		<ul class="navbar">
			<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/pages/sacs-a-main"> SACS A MAIN </a> </li>
			<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/pages/accessoires"> ACCESSOIRES </a> </li>
			<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/collections"> COLLECTIONS </a> </li>
			<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/pages/sylvie-strohl"> /SYLVIE STROHL </a> </li>
			<li class="navbar-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/pages/blog"> BLOG </a> </li>
		</ul>
	</nav>

	{% comment %} Ici la classe qui gere les bouttons panier, search et connexion {% endcomment %}
	<div class="header-icons">
		{% comment %} boutton qui va afficher une bar de navigation {% endcomment %}
		<button class="header-icons-Ref">
			<i class="fas fa-search"></i>
		</button>

		
		{% comment %} boutton qui va afficher une liste avec les objets du paniers et si clique envoie sur le panier {% endcomment %}
		<button class="header-icons-Ref"> 
			<i class="fas fa-shopping-basket"></i>
		</button>

		{% comment %} boutton qui affiche se connecter ou se déconnecter {% endcomment %}
		<button class="header-icons-Ref" onclick=openUser();>
			<i class="fas fa-user"></i>
		</button>
		<ul class="user">
			<li class="user-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/pages/mon-compte">MON COMPTE </a> </li>
			<li class="user-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/pages/connexion">SE DECONNECTER </a> </li>
			<li class="user-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/pages/connexion">SE CONNECTER </a> </li>
			<li class="user-item"><a class="aRef" href="https://gracietboutiquetpe.myshopify.com/pages/inscription">S'INSCRIRE </a> </li>
		</ul>
	</div>

	{%comment%} On doit crée un nouveau menu pour la taille du portable = small {% endcomment%}
	<div class="menu-smallScreen">
		<button class="smallScreen-toggler" onclick=openMenuNavSmallScreen();>
			<i class="fas fa-bars"></i>
		</button>
		<ul class="smallScreen">
			<li class="smallScreen-item"><a href="https://gracietboutiquetpe.myshopify.com/pages/sacs-a-main"> SACS A MAIN </a> </li>
			<li class="smallScreen-item"><a href="https://gracietboutiquetpe.myshopify.com/pages/accessoires"> ACCESSOIRES </a> </li>
			<li class="smallScreen-item"><a href="https://gracietboutiquetpe.myshopify.com/collections"> COLLECTIONS </a> </li>
			<li class="smallScreen-item"><a href="https://gracietboutiquetpe.myshopify.com/pages/sylvie-strohl"> /SYLVIE STROHL </a> </li>
			<li class="smallScreen-item"><a href="https://gracietboutiquetpe.myshopify.com/pages/blog"> BLOG </a> </li>
			<li class="smallScreen-item"><button class="header-icons-Ref"><i class="fas fa-search"></i></button></li>
			<li class="smallScreen-item"><button class="header-icons-Ref"><i class="fas fa-shopping-basket"></i></button></li>
			<li class="smallScreen-item"><a href="https://gracietboutiquetpe.myshopify.com/pages/mon-compte">MON COMPTE </a> </li>
			<li class="smallScreen-item"><a href="https://gracietboutiquetpe.myshopify.com/pages/connexion">SE DECONNECTER </a> </li>
			<li class="smallScreen-item"><a href="https://gracietboutiquetpe.myshopify.com/pages/connexion">SE CONNECTER </a> </li>
			<li class="smallScreen-item"><a href="https://gracietboutiquetpe.myshopify.com/pages/inscription">S'INSCRIRE </a> </li>
		</ul>
	</div>

</header>
</br></br></br>