<header class="header">
	<nav class="header-navbar">

		<ol>
			<li><a href="Accueil"> SylvieSStrohl </a> </li>
			<li><a href="Catalogue"> SACS A MAIN </a> </li>
			<li><a href="cart"> ACCESSOIRES </a> </li>
			<li><a href="cart"> COLLECTIONS </a> </li>
			<li><a href="cart"> /SYLVIE STROHL </a> </li>
			<li><a href="cart"> BLOG </a> </li>
		</ol>
		Je suis le header
	</nav>
</header>