<header class="header">
	Je suis le header
	<nav class="header-navbar">
		<div class="navbar-group">
			<ul>
				<li><a href="https://gracietboutiquetpe.myshopify.com/"> SylvieSStrohl </a> </li>
				<li><a href="https://gracietboutiquetpe.myshopify.com/pages/sacs-a-main"> SACS A MAIN </a> </li>
				<li><a href="https://gracietboutiquetpe.myshopify.com/pages/accessoires"> ACCESSOIRES </a> </li>
				<li><a href="https://gracietboutiquetpe.myshopify.com/collections"> COLLECTIONS </a> </li>
				<li><a href="https://gracietboutiquetpe.myshopify.com/pages/sylvie-strohl"> /SYLVIE STROHL </a> </li>
				<li><a href="https://gracietboutiquetpe.myshopify.com/pages/blog"> BLOG </a> </li>
			</ul>
		</div>
	</nav>

	<div class="header-search">
		<button>
			search
		</button>

		<a href="/cart">
			<i class="fas fa-search"></i>
		</a>
	</div>

	<div class="header-basket">
		<button>
			Panier
		</button>
		<a href="/cart">
			<i class="fas fa-shopping-basket"></i>
		</a>
	</div>

	<div> class="header-connect">
		<button>
			Connect
		</button>
		<a href="/cart">
			<i class="fas fa-user"></i>
		</a>
	</div>
</header>