<header class="header">
	Je suis le header
	<nav class="header-navbar">
		<button class"navbar-toggler"><i class="fas fa-bars"></i></button>
		<div class="navbar-group">
			<ul>
				<li><a href="https://gracietboutiquetpe.myshopify.com/"> SylvieSStrohl </a> </li>
				<li><a href="https://gracietboutiquetpe.myshopify.com/pages/sacs-a-main"> SACS A MAIN </a> </li>
				<li><a href="https://gracietboutiquetpe.myshopify.com/pages/accessoires"> ACCESSOIRES </a> </li>
				<li><a href="https://gracietboutiquetpe.myshopify.com/collections"> COLLECTIONS </a> </li>
				<li><a href="https://gracietboutiquetpe.myshopify.com/pages/sylvie-strohl"> /SYLVIE STROHL </a> </li>
				<li><a href="https://gracietboutiquetpe.myshopify.com/pages/blog"> BLOG </a> </li>
			</ul>
		</div>
	</nav>

	//Ici la classe qui gere les bouttons panier, search et connexion
	<div class="navbar-icons">
		{% comment %} boutton qui va afficher une bar de navigation {% endcomment %}
		<button>
			<i class="fas fa-search"></i>
		</button>

		//boutton qui va afficher une liste avec les objets du paniers
		//et si clique envoie sur le panier
		<button> 
			<i class="fas fa-shopping-basket"></i>
		</button>

		//boutton qui affiche se conecter ou se déconnecter
		<button>
			<i class="fas fa-user"></i>
		</button>
		<a href="/cart">
			
		</a>
	</div>
</header>