{%comment%} Le html  de notre bloc {%endcomment%}
<div class="iconsList">
  {%for block in section.blocks %}
    {% increment myColonne %}
    <div style="grid-column: '{{ myColonne }}';" class="icons">
      <img src="{{ block.settings.icons }}">
      <h2>{{ block.settings.title }}</h2>
    </div>
  {%endfor%}
</div>

{%comment%} Le schema de notre sections sui comprend
Un blocs qui a de plusieurs settings composé d'icones et de title {%endcomment%}
{% schema %}
{
  "name":"iconsList",
  "blocks":[
  {
    "type":"oneIcons",
    "name":"oneIcons",
    "max_blocks":4,
    "settings":[
      {
        "type":"text",
        "id":"title",
        "label":"Titre",
        "default":"Mon titre"
      },
      {
        "type":"image_picker",
        "id":"icons",
        "label":"L'icone",
      }
    ]
  }],
  "presets":[
  {
    "category":"Autre",
    "name":"Icone et titre"
  }]
}
{% endschema %}

{%comment%} Le style de notre bloc {%endcomment%}
{% style %}
  .iconsList{
    display:grid;
  }
  .icons{
    display:grid;
    justify-content:center;
  }
{% endstyle %}