<div class="miniFiltre">
    <select class="filter" data-filter=<strong>"localisation"</strong>
        <option value="Etat">Filtrer par État</option><br>    
        <option value="Pays">Filtrer par Pays</option><br>    
        <option value="Cite">Filtrer par Cité</option><br>    
        <option value="Destination">Filtrer par Destination</option><br>    
        <option value="Rues">Filtrer par Rues</option><br>    
        <option value="tous">Tous</option><br>  
        <br> 
    </select>
    
    <select class="filter" data-filter=<strong>"couleurs"</strong>
        <option value="Rouge">Rouge</option><br>    
        <option value="Vert">Vert</option><br>    
        <option value="Bleu">Bleu</option><br>    
        <option value="Orange">Orange</option><br>    
        <option value="Noir">Noir</option><br>    
        <option value="tous">Tous</option><br>  
        <br> 
    </select>

    <select class="filter" data-filter=<strong>"materiaux"</strong>
        <option value="Cuir">Filtrer par Cuir</option><br>    
        <option value="Fer">Filtrer par Fer</option><br>    
        <option value="Bronze">Filtrer par Bronze</option><br>    
        <option value="Papier">Filtrer par Papier</option><br>    
        <option value="Laine">Filtrer par Laine</option><br>    
        <option value="tous">Tous</option><br>  
        <br> 
    </select>
    <tr data-<strong>(nom du filtre)</strong>="<strong>(value de ce filtre dans cette ligne)</strong>"><br>    <!-- tes colonnes --> <br></tr>
    <tr data-localisation="<strong>Pays</strong>">
    <br>  
        <th>Pays</th>
        <td>France</td>
        <td>Espagne</td>
    <br>
    </tr>
    
    <tr data-<strong>couleurs</strong>="<strong>Bleu</strong>"><br>
        <th>pale</th>
        <td>cyan</td>
        <td>liquide</td>
        <br>
    </tr>
    
    <tr data-<strong>materiaux</strong>="<strong>Bronze</strong>"><br>
        <th>luisant</th>
        <td>brillant</td>
        <td>vieux</td>
         <br>
    </tr>

    

</div>

<script>
    $('.filter').change(function(){
    // on cache toutes les lignes
    $('tr').hide();
      
    // on parcourt les différents filtres.
    var dataSelector = ""; // variable qui servira à stocker les filtres et leur valeur
    $('.filter').each(function(){
        // on récupère le data-filter et la value du select
        var filter = $(this).data('filter'),
            valeur = $(this).val();
 
        // si le filtre est utilisé on stocke la valeur
        if(valeur != 0 && valeur != 'tous'){      
            dataSelector += "[data-"+filter+"="+valeur+"]";
        } 
    });
      
    // on affiche toutes les lignes correspondant aux filtre.
    $('tr'+dataSelector).show();
  
});
</script>