<div class="productShow">
  <div class="productImage">
    <img src="">
  </div>
  <div class="productText">
    <h3><a class="productTitle" href=lien>PRODUCT NAME</a></h3><br>
    <p class="productPrice">Price</p>
    <p class="producDesc">Description</p>
    <button><i class="fas fa-shopping-basket"></i></button>
  </div>
</div>>

