{%comment%} Ici le html d'affichage {%endcomment%}
<div class="toutTypeTexte">

</div>


{%comment%} Ici le schema {%endcomment%}
{% schema %}
{
  "name":"toutTypeTexte",
  "max_blocks":8,
  "settings":[
    {
      "id":"generalDescription",
      "type":"richtext",
      "label":"Ma description",
      "default":"<p>Une description</p>"
    },
    {
      "id":"generalButtonText",
      "type":"text",
      "label":"Mon texte de boutton",
      "default":"Un text de boutton"
    }
  ],
  "blocks":[
    {
      "type":"compose",
      "name":"composeTexte",
      "settings":[
        {
          "type":"text",
          "id":"title",
          "label":"Titre",
          "default":"Mon titre"
        },
        {
          "type":"checkbox",
          "id":"checkboxRichText",
          "label":"Une description ?"
        },
        {
          "type":"richtext",
          "id":"DescriptionOfTexte",
          "label":"Ma description",
          "default":"<p>Une description</p>"
        },
        {
          "type":"checkbox",
          "id":"checkboxButton",
          "label":"Un boutton ?"
        },
        {
          "type":"text",
          "id":"ButtonText",
          "label":"Mon texte de boutton"
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Tout texte",
      "cateory":"Texte"
    }
  ]
}

{% endschema %}

{%comment%} Ici le style {%endcomment%}
{% style %}
  .toutTypeTexte{

  }
{% endstyle %}