{%comment%} Ici le html d'affichage {%endcomment%}
<div class="toutTypeTexte">

</div>


{%comment%} Ici le schema {%endcomment%}
{% schema %}
{
  "name":"toutTypeTexte",
  "max_blocks":8,
  "settings":[
    {
      "id":"nbColonne",
      "type":"number",
      "label":"Nombre de colonne",
      "default":5
    },
    {
      "id":"nbLigne",
      "type":"number",
      "label":"Nombre de ligne",
      "default":5
    }
  ],
  "blocks":[
    {
      "type":"composeTitle",
      "name":"composeTitle",
      "settings":[
        {
          "type":"text",
          "id":"title",
          "label":"Titre",
          "default":"Mon titre"
        },
        {
          "type": "color",
          "id": "couleurTitle",
          "label": "Couleur du titre",
          "default": "#d35400"
        },
        {
          "type": "text",
          "id": "tailleTitre",
          "label": "taille du titre",
          "default": "75"
        },
        {
          "id":"positionLigneTitre",
          "type":"number",
          "label":"Numero de ligne du titre",
          "default":1
        },
        {
          "id":"positionColonneTitre",
          "type":"number",
          "label":"Numero de colonne du titre",
          "default":1
        }
      ]
    },
    {
      "type":"composeDescription",
      "name":"composeDescription",
      "settings":[
        {
          "type":"richtext",
          "id":"description",
          "label":"Description",
          "default":"Mon titre"
        },
        {
          "id":"positionLigneDescription",
          "type":"number",
          "label":"Numero de ligne de la description",
          "default":1
        },
        {
          "id":"positionColonneDescription",
          "type":"number",
          "label":"Numero de colonne de la description",
          "default":1
        }
      ]
    },
    {
      "type":"composeButton",
      "name":"composeButton",
      "settings":[
        {
          "type":"text",
          "id":"textButton",
          "label":"Texte de mon boutton",
          "default":"Texte de boutton"
        },
        {
          "type": "color",
          "id": "couleurTextButton",
          "label": "Couleur du texte du boutton",
          "default": "#d35400"
        },
        {
          "type": "text",
          "id": "tailleTexteButton",
          "label": "taille du texte du boutton",
          "default": "75"
        },
        {
          "id":"positionLigneBoutton",
          "type":"number",
          "label":"Numero de ligne du boutton",
          "default":1
        },
        {
          "id":"positionColonneBoutton",
          "type":"number",
          "label":"Numero de colonne du boutton",
          "default":1
        }
      ]
    }
  ],
  "presets":[
    {
      "name":"Tout texte",
      "category":"Texte"
    }
  ]
}

{% endschema %}

{%comment%} Ici le style {%endcomment%}
{% style %}
  .toutTypeTexte{

  }
{% endstyle %}